<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!-- 和暦フォーマット -->
	<add key="YearFormat" value="ggy"/>
	
	<!-- CSVの保存ディレクトリ -->
	<add key="DirectoryCSV" value="C:\Users\OKAJIMA\Downloads"/>
	
	<!-- 給与明細Excelの保存先 -->
	<add key="PathOutputPayslip" value="C:\Users\OKAJIMA\source\repos\SalaryManager\SalaryManager.Domain\Template\Template_Payslip.xlsx"/>
	
	<!-- XMLの保存先 -->
	<add key="XMLPath" value="C:\Users\OKAJIMA\source\repos\SalaryManager\SalaryManager.Domain\sampleXml.xml"/>

	<!-- フォントファミリ -->
	<add key="FontFamily" value="Yu Gothic UI"/>
</appSettings>