<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!-- 和暦フォーマット -->
	<add key="YearFormat" value="ggy"/>

	<!-- 社員番号 -->
	<add key="EmployeeID" value="20172105"/>
	
	<!-- CSVの保存ディレクトリ -->
	<add key="DirectoryCSV" value="C:\Users\OKAJIMA\Downloads"/>
	
	<!-- Excelの保存先 -->
	<add key="PathExcel" value="C:\Users\OKAJIMA\Desktop\勉強用\SQlite\mylife.salaryManager.csv"/>

	<!-- 接続先 -->
	<!-- Format：value="Data Source={ File Path };Version= { Vestion of SQLite };" -->
	<add key="ConnectionString" value="Data Source=C:\Users\OKAJIMA\Desktop\勉強用\SQlite\SalaryManager.db;Version=3;"/>
</appSettings>