<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<!-- 和暦フォーマット -->
	<add key="YearFormat" value="ggy"/>
	
	<!-- CSVの保存ディレクトリ -->
	<add key="DirectoryCSV" value="C:\Users\OKAJIMA\Downloads"/>
	
	<!-- 給与明細Excelの保存先 -->
	<add key="PathOutputPayslip" value="C:\Users\OKAJIMA\source\repos\SalaryManager\SalaryManager.Domain\Template\Template_Payslip.xlsx"/>

	<!-- 接続先 -->
	<!-- Format：value="Data Source={ File Path };Version= { Vestion of SQLite };" -->
	<add key="ConnectionString" value="Data Source=C:\Users\OKAJIMA\Desktop\勉強用\SQlite\SalaryManager.db;Version=3;"/>
</appSettings>